### Introduction
Pandas is a python library.used for working with data sets.It has functions for analyzing, cleaning, exploring, and manipulating data.
Pandas is used to analyze data.
>The name "Pandas" has a reference to both "Panel Data", and "Python Data Analysis" and was created by Wes McKinney in 2008.<br>
#### Why use pandas
Pandas allows us to analyze big data and make conclusions based on statistical theories.<br>
Pandas can clean messy data sets, and make them readable and relevant.<br>
Relevant data is very important in data science.

In [5]:
# example of dtaa frame 

import pandas as pd
my_dataset={
    'cars':["BMW","VOLVO","Audi"],
    'model':[2000,1999,2007]
}
var_1=pd.DataFrame(my_dataset)
print(var_1)
# checking version of pandas library
print(pd.__version__)

    cars  model
0    BMW   2000
1  VOLVO   1999
2   Audi   2007
1.4.2

#### Pandas Series
>pandas series like a column in a table.
>it is one dimensional array holding data any type.<br>
##### Label/index
>If nothing else is specified, the values are labeled with their index number. First value has index 0, second value has index 1 etc.<br>
>An index is nothing it is an indicator or measure of something<br>
>lavel/index can used to access a specified Value.

In [20]:
# create pandas series 
my_data=[100,200,300]
my_series_1=pd.Series(my_data)
print(my_series_1)

print('\n')# creating series used with dictionary 
my_series_2=pd.Series({'Chennai':'ms dhoni','Mumbai':'Rohit Sharma','Lucknow':'K L rahul'})
print(my_series_2)

0    100
1    200
2    300
dtype: int64


Chennai        ms dhoni
Mumbai     Rohit Sharma
Lucknow       K L rahul
dtype: object

In [38]:
# create your own labels
# with the index argument you can name your own labels.
s1=pd.Series({'k1':100,'k2':200,'k3':300})
print(s1)
s1=pd.Series({'k1':100,'k2':200,'k3':300}, index=['k3','k2','k1','k5'])
print(s1)
a=[1000,30000,40000]
s2=pd.Series(a,index=[10,20,30])
print(s2)
s3=pd.Series(["samiksha","nazim","chandan"])
print(s3)

k1    100
k2    200
k3    300
dtype: int64
k3    300.0
k2    200.0
k1    100.0
k5      NaN
dtype: float64
10     1000
20    30000
30    40000
dtype: int64
0    samiksha
1       nazim
2     chandan
dtype: object

In [45]:
# you can access an item by referring to the label.
print(s2[10])
print(s1['k2'])
# slicing
print(s3[:-1])

1000
200.0
0    samiksha
1       nazim
dtype: object

In [7]:
l=[100,200,300,400,500,600,700,800]
s4=pd.Series(l)
print(s4[:5])
print(s4[-1:-1:-1])
print(s4[2:-1])

0    100
1    200
2    300
3    400
4    500
dtype: int64
Series([], dtype: int64)
2    300
3    400
4    500
5    600
6    700
dtype: int64

In [19]:
##### Basic math operations on series 
# adding a scaler value to series element 
data=[100,200,300,400,500,600,700]
se=pd.Series(data)
se=s4+5
print(s5)
print(type(s5))

# adding 2 series elements 
se1=pd.Series([1,2,3,4,5,6,7,8,9,10],dtype=None)
se2=pd.Series([10,20,30,40,50,60,70,80,90,100])
print(se1+se2)
# substraction of 2 series
print(se1-se2)

# Multiplication of two series
data_1=[1,2,3,4,5,6,3]
data_2=[2,3,5,4,6,7,8]
se3=pd.Series(data_1)
se4=pd.Series(data_2)
print(se3*se4)
# Division of two series
print(se3/se4)
s=se.tail(3)
s

0    105
1    205
2    305
3    405
4    505
5    605
6    705
7    805
dtype: int64
<class 'pandas.core.series.Series'>
0     11
1     22
2     33
3     44
4     55
5     66
6     77
7     88
8     99
9    110
dtype: int64
0    -9
1   -18
2   -27
3   -36
4   -45
5   -54
6   -63
7   -72
8   -81
9   -90
dtype: int64
0     2
1     6
2    15
3    16
4    30
5    42
6    24
dtype: int64
0    0.500000
1    0.666667
2    0.600000
3    1.000000
4    0.833333
5    0.857143
6    0.375000
dtype: float64

5    605
6    705
7    805
dtype: int64