In [1]:
import pandas as pd

In [25]:
data=pd.read_csv("nba.csv")
data_top=data.head()
data_top
series=data["College"]
n=9
top=series.head(n=n)
top

0                Texas
1            Marquette
2    Boston University
3        Georgia State
4                  NaN
5                  NaN
6                  LSU
7              Gonzaga
8           Louisville
Name: College, dtype: object